@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  letter-spacing: 2px;
}

span {
  color: #8186b1;
  letter-spacing: 0.1em;
  font-weight: 900;
}

body {
  background-color: #1b1c26;
}

button span {
  color: #ffb445;
}

main {
  margin: 6% 8% 8% 8%;
}

/* Navigation Menu */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #292b3b;
  width: 96%;
  margin: 0% 2%;
  box-sizing: border-box;
  height: 100px;
}

nav li {
  display: inline;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  margin: 0 5rem 0 0;
  color: #8186b1;
}

.lazyCodeLogoHeader {
  width: 10rem;
  margin-left: 5%;
}

.mobileNavigationButton {
  display: none;
}

/* Hero Section */

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}

.headerLine {
  width: 100%;
  margin-bottom: 30px;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}

.heroSectionLeftColumn h2 {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.headingText {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 80px;
}

.heroSectionLeftColumn button {
  width: 78%;
  height: 60px;
  background: #292b3c;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #4fbaff;
}

.lazyCatImage {
  width: 50%;
}

a{
  color: #8186b1;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #fff;
  transition: color 0.5s;
}

.lazyCodeWelcome {
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.lazyCodeDescription {
  width: 100%;
  font-weight: 900;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.simpleMinimalWrapper {
  margin: 8% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-weight: bold;
  width: 30%;
  font-size: 30px;
  text-align: right;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.simpleMinimalWrapper h1 {
  width: 620px;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.1em;
}

.codersDelightWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
}

.codersDelightWrapper h1 {
  width: 620px;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.1em;
  text-align: right;
}

.openSourceTextWrapper {
  margin: 8% 0% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openSourceTextWrapper h1 {
  width: 620px;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.1em;
}

.openSourceButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background: #292b3c;
  border-radius: 10px;
  width: 40%;
  height: 60px;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #ffb445;
  border: none;
}

.openSourceButtons button span {
  color: #8186b1;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: #292b3b;
  width: 96%;
  margin-left: 2%;
  margin-top: 10%;
  box-sizing: border-box;
  height: 200px;
}

.lazyCodeLogoFooter {
  width: 10rem;
  margin-left: 5%;
  margin-top: -60px;
}

.footerLinksColumnWrapper {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
}

footer li {
  color: #8186b1;
  list-style-type: none;
}

footer li:hover {
  cursor: pointer;
  color: #fff;
  transition: color 0.5s;
  border-bottom: none;
}