@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

body {
  padding: 0;
  margin: 0%;
  background-color: #1b1c26;
  overflow-x: hidden;
}
.containers {
  display: flex;
  flex-direction: row;
}
.header {
  width: auto;
  height: 10vh;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.corner {
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 0%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #8186b1;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.corner:hover {
  color: beige;
}

.right-container {
  width: 50vw;
  height: 90vh;
}
.right-container > img {
  height: 50vh;
  width: 50vw;
}
.left-container {
  margin-top: 5vh;
  width: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-left: 30vh;
}
.a {
  width: 30vw;
  height: 13vh;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 0.5s;
}

.left-container img:nth-child(1) {
  animation: trans-upwards 0.5s linear forwards;
}
.left-container img:nth-child(2) {
  animation: trans-upwards 0.5s linear 0.3s forwards;
}
.left-container img:nth-child(3) {
  animation: trans-upwards 0.5s linear 0.6s forwards;
}
.left-container img:nth-child(4) {
  animation: trans-upwards 0.5s linear 0.9s forwards;
}
.left-container img:nth-child(5) {
  animation: trans-upwards 0.5s linear 1.2s forwards;
}

@keyframes trans-upwards {
  0% {
    opacity: 0;
    transform: translateY(45px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left-container > img:hover {
  cursor: pointer;
}
.textt {
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 5vh;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
}
.corner:hover {
  cursor: pointer;
}
.foot {
  margin-top: 0px;
  height: 12vh;
}
.foot > img {
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: 50vh;
  margin-bottom: 20px;
}
.t1 {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  color: #8186b1;
  top: -350px;
  left: 1090px;
}
.t2 {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  color: #8186b1;
  top: -300px;
  left: 1090px;
}
.t3 {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  color: #8186b1;
  top: -250px;
  left: 1090px;
}
.t4 {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  color: #8186b1;
  top: -200px;
  left: 1090px;
}
.t5 {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  color: #8186b1;
  top: -150px;
  left: 1090px;
}
