@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
*{
    margin : 0;
    padding : 0;
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    letter-spacing: 2px; 
}

body{
    background-color: #1B1C26;
    padding: 0 5%;
}

/* grid */
.nav,.hero{
    display: grid;
    grid-template-columns: auto auto;
}


/* nav */


.nav{
    background-color: #292B3B;
    padding: 1%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav a{
    font-size: 2rem;
    font-weight: 900;
    margin: 0 1rem;
    color: #8186B1;
}

.logo{
    width: 10rem;
}

a:hover{
    cursor: pointer;
    color: #fff;
}

.nav-child2{
    display: flex;
    justify-content: flex-end;
}

/* hero */

.hero{
    margin-top: 2%;
}

.hero-child{
    padding: 1rem;
}

.hero-child2{
    display: flex;
    justify-content: flex-end;
}

.hero-child2 img{
    width: 90%;
    height: 80%;
}

.main1{
    font-size: 1.4rem;
    font-weight: bold;
}

.main1 span,.main2 h1{
    font-weight: bold;
    color: #8186B1;
}

.main2 h2{
    margin-top: 1rem;
    font-size: 1.8rem;
}

.main2 h1{
    font-size:3rem;
}

.main3{
    margin-top: 3rem;
}

.hero-child1 .main3 a,.section4 a{
    color: rgb(241, 187, 37);
    display: flex;
    background-color: #292B3C;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 1000;
}

.main3 span{
    color : #4FBAFF;
}

/* section1 */

.section1{
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 900;
}

.section1 p .inc{
    font-size: 1.8rem;
}

.section1 .blue{
    color: #8186B1;
}

/* section2 */

.section2{
    font-weight: 900;
    margin: 4% 0;
    display: grid;
    grid-template-columns: auto auto;
    letter-spacing: 5px;
}

.section2-child1{
    font-size: 2rem;
}

.section2-child2{
    text-align: right;
    font-size: 1.2rem;
}

.section2 span{
    color: #8186B1;
}

/* section3 */

.section3{
    margin: 4% 0;
    position: relative;
}

.section3 img{
    width: 100%;
}

.section3 .absolute{
    font-size: 4rem;
    font-weight: 900;
    position: absolute;
    top: 25%;
    right: 0%;
}

.section3 span{
    color: #8186B1
}

.section4{
    margin: 4% 0;
    display: flex;
    justify-content:space-evenly;
}

.section4 a{
    display: inline-block;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.section4 .git{
    color: #8186B1;
}

/* footer */

.footer{
    background-color: #292B3B;
    padding: 1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.footer .child{
    display: grid;
}

.footer .child a{
    color: #8186B1;
    margin-bottom: 1rem;
}

.footer .child2,.footer .child1{
    text-align: left;
}