@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

h1 {
  width: 100px;
  font-weight: 900;
  font-size: 50px;
  line-height: 35px;
  letter-spacing: 0.1em;
}

nav h1 span {
  color: #8186b1;
}

body {
  background-color: #1b1c26;
  margin: 3% 5% 5% 5%;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main button {
  width: 400px;
  height: 70px;
  background: #292b3c;
  border-radius: 15px;
  border: none;
  margin-top: 5%;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

main button span {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #8186b1;
}


@media only screen and (min-width: 300px) and (max-width: 800px) {
  nav h1{
    font-size: 28px;
    line-height: 20px;
    margin: 6% 40% 3% 4%;
  }

  main button {
    width: 340px;
    height: 60px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  
  main button span {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #8186b1;
  }
}