@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

h1 {
  width: 100px;
  font-weight: 900;
  font-size: 50px;
  line-height: 35px;
  letter-spacing: 0.1em;
}

nav h1 span {
  color: #8186b1;
}

h5 {
  margin-left: 5%;
  margin-bottom: 2%;
  width: 120px;
}

ul img {
  width: 25%;
  margin-left: 5%;
}

body {
  background-color: #1b1c26;
  margin: 3% 5% 5% 5%;
}